h1 {
    color: black;
    font-family: 'Exo', sans-serif;
    font-size: 100%;
    }
  p {
    color: black;
    font-family: 'Exo', sans-serif;
    font-size: 100%;
    }
.jumbotron {
    background-color:steelblue;
}
.d-input {
    list-style: none;
}
.d-date {
    list-style: none;

}
.d-time {
    list-style: none;
}
.wallpaper {
    background-color:steelblue;
}
.bigtitle {
    color:aliceblue;
}
.subtitle {
    color:aliceblue;
}